body {
    font-family: sans-serif;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-color: #eee;
}

h1 {
    font-weight: bold;
    font-size: xx-large;
}

.robot-canvas {
    position: relative;
    background-color: azure;
    margin: auto;
    width: 80vh;
    height: 80vh;
}

#robot {
    position: absolute;
    bottom: 0;

    /*
    This is an approximation for horizontal centering.
    Ideally, I would be able to apply transform: translateX() to
    perfectly center it, but this data is overwritten by the animation data
    */
    left: 45%;
    
    background-color: red;
    width: 10%;
    height: 10%;
}

.robot-animation {
    animation: robot linear forwards 2s;
}

@media only screen and orientation: portrait {
    .robot-canvas {
        width: 80vw;
        height: 80vw;
    }
}